PORT=4000
FRONTEND_URL=http://localhost:5173
SECRET=replace-with-a-long-random-value
DB_HOST=replace-with-mysql-host
DB_PORT=replace-with-mysql-port
DB_USER=replace-with-mysql-user
DB_PASS=replace-with-mysql-password
DB_NAME=defaultdb
DB_SSL_CA_PATH=./certs/ca.pem
