APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:wJ9Xns+x+beeQOchHkLomnnI+M6IkUYHWn7zPF6sOQk=
APP_DEBUG=true
APP_URL=http://localhost

FRONTEND_URL=http://localhost:3000

LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=4306
DB_DATABASE=innovest
DB_USERNAME=root
DB_PASSWORD=

JWT_SECRET=z1MEeJyPefwLQKYZDYrpYbK9L3c7e6jCafVqyRS3OD4

SESSION_DRIVER=file
SESSION_LIFETIME=120
